@font-face {
    font-family: 'Blacklisted' ;
    src: url('Blacklisted.ttf') format('truetype');
}
body{
    background-color: #595142;
    font-family: 'Blacklisted', sans-serif;
    }
h1{
    color: #260101;
    font-size: 50px;
}
p{
    color: #260101;
}
article{
    color: #A57760;
}
